<div class="card">
  <div class="card-body">
    <h4>{{data.title}}</h4>

    <div class="row">
      <div class="col-9 offset-2">
        <form>
          <div class="form-group form-check">
            <input
              id="pageNavCheckbox"
              type="checkbox"
              name="isPageNavChecked"
              class="form-check-input"
              [(ngModel)]="isPageNavChecked"
              (change)="togglePageNavChecked($event)"
            >
            <label class="form-check-label" for="pageNavCheckbox">Go to page based on answer</label>
          </div>
          <div *ngFor="let item of optionAnswers$ | async | mapValues; trackBy: trackElement">
            <sb-option-template
              [optionAnswersSize]="optionAnswersSize"
              [optionAnswer]="item.value"
              [element]="element"
              [isPageNavChecked]="isPageNavChecked"
            ></sb-option-template>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
