<div id="question-builder-container" [ngClass]="!isSaved ? 'z-depth-1' : ''">
  <!-- Header -->
  <div class="d-flex justify-content-end">
    <div class="btn-group" role="group">
      <button *ngIf="!isSaved" type="button" class="btn btn-outline-primary"><i class="fas fa-chevron-down"></i></button>
      <button *ngIf="!isSaved" type="button" class="btn btn-outline-primary"><i class="fas fa-chevron-up"></i></button>
      <button *ngIf="!isSaved" type="button" class="btn btn-outline-primary" (click)="removeElement()"><i class="fas fa-trash-alt"></i></button>
      <button *ngIf="isSaved" type="button" class="btn btn-outline-primary"><i class="fas fa-clone"></i></button>
      <button [id]="'edit-question-button-' + element.id" *ngIf="isSaved" type="button" class="btn btn-outline-primary" (click)="isSaved = false"><i class="fas fa-edit"></i></button>
    </div>
  </div>
  <!-- #/Header -->

  <!-- Question Form Builder -->
  <form name="questionForm" #questionForm="ngForm">

    <!-- Question Value Input -->
    <div class="form-group">
      <label [for]="'questionText-' + element.id">Question Text</label>
      <input
        [id]="'questionText-' + element.id"
        name="questionText"
        type="text"
        class="form-control"
        [ngModel]="element.question.text"
        placeholder="Question Text"
        required>
    </div>
    <!-- #/Question Value Input -->

    <!-- Question Type Selector -->
    <div class="form-group">
      <label for="questionType">Question Type</label>
      <select
        id="questionType"
        name="questionType"
        class="form-control"
        [(ngModel)]="element.question.type"
        (ngModelChange)="onQuestionTypeSelect($event)">
        <option selected></option>
        <option value="shortText">Short Text</option>
        <option value="longText">Long Text</option>
        <option value="radio">Radio</option>
        <option value="checkboxes">Checkboxes</option>
        <option value="select">Select</option>
        <option value="date">Date</option>
        <option value="range">Range</option>
      </select>
    </div>
    <!-- #/Question Type Selector -->
  </form>
  <!-- #/Question Form Builder -->

  <!-- Question Builder Element -->
    <sb-question-builder-component
      [questionType]="element.question.type"
      [element]="element"
    ></sb-question-builder-component>
  <!-- #/Question Builder Element -->

  <button [id]="'save-question-button-' + element.id" *ngIf="!isSaved" type="button" class="btn btn-outline-primary mt-4" (click)="saveQuestion()" [disabled]="!questionType">Save Question</button>
</div>
