<div class="card mt-5">
  <div class="card-header d-flex w-100">
    <div class="mr-auto">
      Page {{page.orderNo}} of {{pageSize$ | async}}
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-primary"><i class="fas fa-chevron-down"></i></button>
      <button type="button" class="btn btn-outline-primary"><i class="fas fa-chevron-up"></i></button>
      <button type="button" class="btn btn-outline-primary" (click)="removePage()"><i class="fas fa-trash-alt"></i></button>
    </div>
  </div>
  <div class="card-body" *ngFor="let item of page.elements | mapValues; trackBy: trackElement">
    <sb-question-builder-container
      [element]="item.value"
      [page]="page"
    ></sb-question-builder-container>
  </div>

  <div class="card-footer">
    <div class="input-group">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-outline-primary" (click)="addElement()">Add Element</button>
        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">
            <i class="fas fa-question"></i>
            <span class="ml-2">Question</span>
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-paragraph"></i>
            <span class="ml-2">Paragraph</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
