<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" routerLink="">Angular Survey Builder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link d-flex flex-row align-items-center" href="https://github.com/alexitaylor/ng-surveys" target="_blank">
          <i class="fab fa-github fa-2x"></i>
          <span class="text-2x ml-2">View on GitHub</span>
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link d-flex flex-row align-items-center" href="https://www.npmjs.com/package/ng-surveys" target="_blank">
          <i class="fab fa-npm fa-2x"></i>
          <span class="text-2x ml-2">View on NPM</span>
          <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
