<div class="form-group d-flex flex-row align-items-center">
  <span *ngIf="isOptionActive" class="mr-3 mb-0">
    <button type="button" class="btn btn-outline-primary">
      <i class="fas fa-arrows-alt"></i>
    </button>
  </span>
  <label *ngIf="!isOptionActive" for="radioTemplate" class="mr-3 mb-0"><i class="fas fa-circle"></i></label>
  <input
    id="radioTemplate"
    class="form-control w-50"
    name="radioTemplate"
    type="text"
    placeholder="Click to add options"
    (focus)="onFocus($event)"
    [(ngModel)]="value"
    (ngModelChange)="handleCheckBoxChange($event)"
  >
  <span *ngIf="isOptionActive" class="ml-3 mb-0">
    <button type="button" class="btn btn-outline-primary">
      <i class="fas fa-times"></i>
    </button>
  </span>
  <div *ngIf="isOptionActive && isPageNavChecked" class="ml-3 form-group mb-0">
    <select
      id="pageNavNext"
      class="form-control"
      name="questionType"
      [(ngModel)]="pageNavNext"
      (ngModelChange)="handlePageNavNext($event)">
      <option selected>Continue to next page</option>
      <option value="page1">Page 1</option>
      <option value="page2">Page 2</option>
    </select>
  </div>
</div>
