/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.drag-drop-placeholder-question {
  background: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  min-height: 300px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-drop-placeholder-question-option {
  background: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  min-height: 50px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
